@model ProPayment.Models.PROMatch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PROMatch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PROMatchNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PROMatchNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreHomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreHomeTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreAwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreAwayTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchNumberTSM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchNumberTSM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
