@model IEnumerable<ProPayment.Models.PROMatch>

@{
    ViewData["Title"] = "Index";
}

<h1>PRO Matcher</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-striped table-responsive-xl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PROMatchNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreHomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreAwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchNumberTSM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PROMatchNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreHomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreAwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchNumberTSM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
