@model ProPayment.Models.Receipt

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HockeyMatch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HockeyMatch.MatchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alowence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alowence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LateMatchStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LateMatchStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPayment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
