@model IEnumerable<ProPayment.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HockeyMatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alowence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateMatchStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HockeyMatch.MatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alowence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateMatchStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
